body{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.container {
    background-color: #ccc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    max-width: 730px;
    height:280px;
    background-color: rgba(255, 68, 0, 0.509);
}

.main .image-area{
    background-color: pink;
    width: 810px;
    background:0 center no-repeat url('../../images/drawers.jpg');
    background-size: cover;
}

.main .informative-area{
    background-color: violet;
    /* padding: 2.3rem 2rem; */
    margin: 18px 0 0 25px;
    padding: 1rem;
    padding-right: 40px;
}

.main .informative-area h1{
    font-size: 1.3rem;
}

.main .informative-area p{
    margin-top: 13px;
    /* word-spacing: .1rem; */
}

.main .informative-area .description {
    background-color: turquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.main .informative-area .description .avatar {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background-color: tomato;
}

.main .informative-area .description .avatar img{
    border-radius: 2rem;
    width: 40px;
    height: 40px;
    
}

.main .informative-area .description .avatar .person-description{
    line-height: 5px;
}

.main .informative-area .description .share{
    align-self: center;
    border-radius: 1rem;
    background:red;
    height:30px;
    width: 30px;
    position: relative;
}

.main .informative-area .description .share .image-click{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.main .informative-area .description .share .share-text{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    top: -85px;
    width: 245px;
    left: -110px;
    background:var(--VD-grayish-blue);
    padding: 1rem;
    border-radius: .6rem;
}

.main .informative-area .description .share .triangle{
    width: 30px;
    position: absolute;
    top: -30px;
    left: -7px;
    height: 30px;
    border-top: 10px solid var(--VD-grayish-blue);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 1px solid transparent;
}

/* .main .informative-area .description .share .share-text  */