body{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: var(--L-grayish-blue);
}

h1,h4{
    color: var(--VD-grayish-blue);
}

p{
    color: var(--Grayish-blue);
}
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    border-radius: 1rem;
    display: flex;
    max-width: 730px;
    height:280px;
    background-color: white;
}

.main .image-area{
    width: 790px;
    background:0 center no-repeat url('../../images/drawers.jpg');
    background-size: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.main .informative-area{
    margin: 18px 0 0 25px;
    padding: 1rem;
    padding-right: 42px;
}

.main .informative-area h1{
    font-size: 1.3rem;
}

.main .informative-area p{
    margin-top: 13px;
}

.main .informative-area .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.main .informative-area .description .avatar {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.main .informative-area .description .avatar img{
    border-radius: 2rem;
    width: 40px;
    height: 40px;
    
}

.main .informative-area .description .avatar .person-description{
    line-height: 5px;
}

.main .informative-area .description .share{
    align-self: center;
    height:30px;
    width: 30px;
    position: relative;
}

.main .informative-area .description .share .image-click{
    background-color: var(--L-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

/* TO DO Catch the button event-listener and .share-text display:flex */

/* .main .informative-area .description .share .image-click:target ~ .share-text{
    display: flex;
} */

.main .informative-area .description .share .share-text{
    position: absolute;
    display: none;
    color: var(--Grayish-blue);
    align-items: center;
    justify-content: space-evenly;
    top: -80px;
    width: 247px;
    left: -105px;
    background:var(--VD-grayish-blue);
    padding: 1rem;
    padding-left: 1rem;
    border-radius: .6rem;
}

.main .informative-area .description .share .triangle{
    width: 30px;
    position: absolute;
    left: 105px;
    bottom: -27px;
    height: 30px;
    border-top: 15px solid var(--VD-grayish-blue);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 1px solid transparent 

}

